
<mat-card>
  <mat-card-content class="container">
    <h1>Sujets</h1>
      <div *ngFor="let topic of topics">
        <div class="topic">
          <mat-card>
            <mat-card-content>
              <h2>{{ topic.name }}</h2>
              <h2>Intérêt: {{ slider.value }}</h2>
              <h3>{{ topic.description }}</h3>
            <mat-slider (change)="sortTopics()"
                [max]="3"
                [min]="1"
                [step]="1">
              <input matSliderThumb [(ngModel)]="topic.interest" #slider>
            </mat-slider>
            </mat-card-content>
          </mat-card>
        </div>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Nom du sujet</mat-label>
        <input matInput [(ngModel)]="newTopicName">
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Description du sujet</mat-label>
        <textarea matInput [(ngModel)]="newTopicDescription"></textarea>
      </mat-form-field><br>
      <button mat-mini-fab color="primary" (click)="addTopic()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>

